@model List<Ecommerce.Models.Product>
@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 mb-4">
            <div class="card">
                <img src="~/images/@item.ImageUrl" class="card-img-top" style="height:200px; object-fit:cover;" />

                <div class="card-body">
                    <h5>@item.Name</h5>
                    <p>@item.Price EGP</p>
                    <p>@item.Category.Name</p>

                    <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@item.Id" class="btn btn-success">
                        Add To Cart
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">
                        Details
                    </a>
                </div>
            </div>
        </div>
    }
</div>
